﻿@{ 
    ViewBag.Title = "Confirm Email Address Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<h2>@ViewBag.Title.</h2> 
 
<div class="row" style="margin-top: 10vh;"> 
    <div class="col-md-12"> 
        <h4 class="text-center">Please check your Email Inbox, a confirmation Email is Sent to @ViewBag.Email</h4> 
     </div> 
    <br />
 </div> 