﻿@model colinlboyledotcom.Models.Posts
@using WebMatrix.Data

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int page = Convert.ToInt32(Url.ActionContext.RouteData.Values["page"]);
}
<section class="row content-wrap" style="padding-top: 130px;">
    <div class="container">

        <div class="row">

            <div class="col-md-8 blog-posts">               
                @if (Model.BlogPosts.Count() != 0 || Model.BlogPosts != null)
                {
                    foreach (var post in Model.BlogPosts)
                    {
                        <!--Quote Post have no title-->
                        if (post.Title == null)
                        {
                            <article class="row post post-format-quote post-type">
                                <div class="post-wrapper row">
                                    <div class="post-excerpt row">
                                        <h5 class="post-meta">
                                            @*<a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>*@
                                            <a href="#" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                            <span class="post-author"><i>by</i><span>@post.Summary</span></span>
                                        </h5>
                                        <h3 class="post-title">@post.Post</h3>
                                        <h5 class="quote-maker"><span>@post.Summary</span></h5>
                                        <footer class="row">
                                            <h5 class="taxonomy">
                                                <i>in</i>
                                                @foreach (var tag in post.BlogTags)
                                                {
                                                    @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                                }
                                            </h5>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        }
                        else
                        {
                            <article class="row post post-format-image post-type">
                                <div class="post-wrapper row">
                                    <div class="featured-content row">
                                        <a href="@Url.Action("article", "blog", new { id = post.bpId })"><img src="@Url.Content("/images/posts/" + @post.Image)" alt="@post.Title" class="img-responsive"></a>
                                    </div>
                                    <div class="post-excerpt row">
                                        <h5 class="post-meta">
                                            @*<a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>*@
                                            <a href="#" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                            @*<span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>*@
                                        </h5>
                                        <h3 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h3>
                                        <p>@post.Summary</p>
                                        <footer class="row">
                                            <h5 class="taxonomy">
                                                <i>in</i>
                                                @foreach (var tag in post.BlogTags)
                                                {
                                                    @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                                }
                                            </h5>
                                            <div class="response-count"><img src="/images/comment-icon-gray.png" alt="">@post.Comments</div>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                }
                @if (Model.BlogPosts.Count() < 5)
                {
                    <h3 class="text-center">No results to display</h3>
                    <h4 class="text-center">Return to the home page and view the most recent post?</h4>
                    <div class="text-center">
                        <a href=@Url.Action("index", "home") class="btn btn-primary"><span>Home</span></a>
                    </div>
                    <br />
                    <br />
                }
                @if (page > 1)
                {
                    if ( Model.type == "tag")
                    {
                        <a href="@Url.Action("tag", "blog", new {page = page -1, tag = Model.parameter })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }
                    else if( Model.type == "search")
                    {
                        <a href="@Url.Action("search", "blog", new {page = page -1, searchString = Model.parameter })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("all", "blog", new { page = page - 1 })" class="pull-left btn btn-primary"><span><i class="fa fa-chevron-left"></i> Previous Page</span></a>
                    }

                }
                @if (Model.BlogPosts.Count() == 5)
                {
                    if ( Model.type == "tag")
                    {
                        <a href="@Url.Action("tag", "blog", new { page = page +1, tag = Model.parameter})" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                    else if( Model.type == "search")
                    {
                        <a href="@Url.Action("search", "blog", new {page = page +1, searchString = Model.parameter })" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                    else
                    {
                        <a href="@Url.Action("all", "blog", new { page = page +1 })" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
                    }
                }
            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!--Author Well-->
                @Html.Partial("AuthorWidgetPartial")
                <!-- Blog Categories Well -->
                <div class="well" style="overflow-y: hidden;">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <!--Popular tag column one-->
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @for (int count = 0; count < 3; count++)
                                 {
                                    <li>@Html.ActionLink((string)Model.PopularTags[count].Tag_Name, "tag", "blog", new { tag = Model.PopularTags[count].Tag_Name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                 }
                            </ul>
                        </div>
                        <!-- Popular tag column two -->
                        <div class="col-lg-6">
                            <ul class="tags list-unstyled" style="padding: 0px;">
                                @for (int count = 3; count < 6; count++)
                                {
                                    <li>@Html.ActionLink((string)Model.PopularTags[count].Tag_Name, "tag", "blog", new { tag = Model.PopularTags[count].Tag_Name }, new { @class = "tag", style = "margin: 5px;" })</li>
                                }
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Hold Tight!</h4>
                    <p>There is more coming soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>
