﻿@using WebMatrix.Data
@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = Database.Open("Blog");
    var postTagQueryString = "SELECT BlogTag.Tag_Name " +
                 "FROM PostTag JOIN BlogTag " +
                 "ON TagId = BlogTag.btId " +
                 "WHERE PostId =";
}

@*
    Should move the search query which is returning all the tags for a particular blog to the controller.
*@



<section class="row content-wrap" style="padding-top: 130px;">
    <div class="container">
        <div class="row">

            <div class="col-md-8 blog-posts">
                <!--Image Post-->
                @foreach (var post in Model)
                {
                    if (post.Title == null)
                    {
            <article class="row post post-format-quote post-type4">
                <div class="post-wrapper row">
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                            <span class="post-author"><i>by</i><a href="#">@post.Summary</a></span>
                        </h5>
                        <h3 class="post-title">@post.Post</h3>
                        <h5 class="quote-maker"><a href="#">anon</a></h5>
                        <footer class="row">
                            <h5 class="taxonomy">
                                <i>in</i>
                                @foreach (var tag in db.Query(postTagQueryString + post.bpId))
                                {
                        @Html.ActionLink((string)@tag.tag_name + " ", "tag", "blog", new { id = tag.tag_name }, null)
                                }
                            </h5>
                            <div class="response-count"><img src="../../Content/Images/comment-icon-white.png" alt="">@post.Comments</div>
                        </footer>
                    </div>
                </div>
            </article>
                    }
                    else
                    {

            <article class="row post post-format-image post-type4">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="@Url.Action("article", "blog", new { id = post.bpId })"><img src="../../Content/Images/posts/@post.Image" alt="@post.Title" class="img-responsive"></a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="@Url.Action("date", "blog", new { id = post.CreatedDate })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                            <span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>
                        </h5>
                        <h3 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h3>
                        <p>@post.Summary</p>
                        <footer class="row">
                            <h5 class="taxonomy">
                                <i>in</i>
                                @foreach (var tag in db.Query(postTagQueryString + post.bpId))
                                {
                        @Html.ActionLink((string)@tag.tag_name + " ", "tag", "blog", new { id = tag.tag_name }, null)
                                }
                            </h5>
                            <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">@post.Comments</div>
                        </footer>
                    </div>
                </div>
            </article>
                    }
                }
            </div>
            <div class="col-md-4 sidebar">
                @Html.Partial("AuthorWidgetPartial")
                @Html.Partial("TwitterWidgetPartial")
                @Html.Partial("InstaWidgetPartial")
            </div>
        </div>
    </div>
</section>
