﻿<!--Author Widget-->
<aside class="col-sm-12 m0 widget-author widget">
    <div class="widget-author-inner row">
        <div class="author-avatar row"><a href="#"><img src="/images/colin.jpg" alt="" class="img-circle"></a></div>
        <a href="#"><h2 class="author-name">Colin Boyle</h2></a>
        <h5 class="author-title">web designer</h5>
        <p>I am an aspiring web developer and frequent software dabbler. I write about those things here. Curiousity is my weapon
            of choice. You've been warned!</p>
        @*<a href="#" class="know-more">know more</a>*@
        @Html.ActionLink("know more", "about", "home", null, new { @class = "know-more" })
    </div>
    <ul class="nav social-nav">
        <li><a href="https://twitter.com/Colin_Boyle"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/colin.boyle.927"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="https://www.instagram.com/colinboyle/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="mailto:colin.boyle93@gmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="sms://+14023120970"><i class="fa fa-mobile"></i></a></li>
    </ul>
</aside>
