﻿<!--Instagram Widget-->
<aside class="col-md-12 col-xs-6 m0 widget widget-instagram hidden-xs">
    <div class="widget-instagram-inner">
        <h5 class="widget-meta"><i class="fa fa-instagram"></i>instagram feed <a href="http://twitter.com/colinboyle">colinboyle</a></h5>
        <div id="instafeed" class="owl-carousel"></div>
    </div>
</aside>
