﻿<!--Twitter Widget-->
<aside class="col-md-12 col-xs-6 widget widget-twitter hidden-xs">
    <div class="widget-twitter-inner">
        <h5 class="widget-meta"><i class="fa fa-twitter"></i>Twitter feed <a href="http://twitter.com/Colin_Boyle">Colin_Boyle</a></h5>
        <div class="row tweet-texts" id="tweets"></div>
        @*<div class="row timepast">1 day ago</div>*@
    </div>
</aside>
