﻿@model Contact;
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        4320 Edison Cir Apt #2<br />
        Lincoln, NE 68504<br />
        <abbr title="Phone">P:</abbr>
        4023120970
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:colin.boyle93@gmail.com">colin.boyle93@gmail.com</a>
    </address>
*@

<section class="row page-content-wrap" style="padding-top:100px;">
    <div class="container">
        <h2 class="page-title text-center">contact</h2>
        <div class="row">
            <div class="col-md-8 page-contents">
                <div class="row page-content">
                    <div class="contents row">
                        <h4>
                            Why hello, if you need to reach me you've come to the right place.
                            Feel free to use this form for any comments or questions.
                            This form will be blasted to my email after you send it so expect a reply from there.
                        </h4>

                        <p>
                            If you want web design or development work this is the place for now.
                            Include a phone number in the subject line if you'd prefer a call.
                        </p>
                        <br>
                        <h4 class="alert-success">@ViewBag.Message</h4>
                        <br>
                        @using (Html.BeginForm("SendContact", "Home", FormMethod.Post, new { @class = "contact-form row" }))
                            {
                                @Html.ValidationSummary(true, "Error", new { @class = "text-danger" })
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(c => c.Name,"full name*",null)
                                    @Html.TextBoxFor(c => c.Name, new { @id = "name", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-6">
                                    @Html.LabelFor(c => c.Email, "Email*", null)
                                    @Html.TextBoxFor(c => c.Email, new { @id = "email", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-12">
                                    @Html.LabelFor(c => c.Subject, "subject*", null)
                                    @Html.TextBoxFor(c => c.Subject, new { @id = "subject", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Subject, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-sm-12">
                                    @Html.LabelFor(c => c.Message, "message*", null)
                                    @Html.TextAreaFor(c => c.Message, new { @id = "message", @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Message, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn-primary"><span>Straight to my DMs</span></button>
                                    <h5 class="pull-right">*required fields</h5>
                                </div>
                            }
                    </div>
                </div>
            </div>
            <div class="col-md-4 sidebar">
                <!--Author Widget-->
                @Html.Partial("AuthorWidgetPartial")
            </div>
        </div>
    </div>
</section>