﻿@model colinlboyledotcom.Models.Posts
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Used to get number of featured post//
    int count = 0;
    var postTagQueryString = "SELECT BlogTag.Tag_Name " +
                             "FROM PostTag JOIN BlogTag " +
                             "ON TagId = BlogTag.btId " +
                             "WHERE PostId =";

}
@section Scripts {
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.autoplay.js"></script>
    <script src="~/js/twitterFetcher_min.js"></script>
    <script src="~/js/instafeed.min.js"></script>
}

@*<section class="row featured-post-carousel kanit-bold owl-carousel">
    @foreach (var post in Model.FeaturedPosts)
    {
        <div class="item post">
            <img src="~/images/featured-posts/@post.Image" alt="@post.Title" class="img-responsive main-bg">
            <div class="post-content">
                <div class="container">
                    <h5 class="post-meta">
                        <i>in</i>
                        @if (post.BlogTags != null)
                        {
                            foreach (var tag in post.BlogTags)
                            {
                                @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)

                            }
                        }
                        |
                        <a href="#">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                    </h5>
                    <h2 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h2>
                    <a href="@Url.Action("article", "blog", new { id = post.bpId })" class="btn btn-primary"><span>read more</span></a>
                </div>
            </div>
        </div>
    }
</section>*@

<section class="row content-wrap" style="padding-top: 120px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-posts">
                <!--Image Post-->
                @foreach (var post in Model.BlogPosts)
                {
                    if (post.Title == null)
                    {
                        <article class="row post post-format-quote post-type">
                            <div class="post-wrapper row">
                                <div class="post-excerpt row">
                                    <h5 class="post-meta">
                                        <a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                        <span class="post-author"><i>by</i><span>@post.Summary</span></span>
                                    </h5>
                                    <h3 class="post-title">@post.Post</h3>
                                    <h5 class="quote-maker"><span>@post.Summary</span></h5>
                                    <footer class="row">
                                        <h5 class="taxonomy">
                                            <i>in</i>
                                            @foreach (var tag in post.BlogTags)
                                            {
                                                @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                            }
                                        </h5>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    }
                    else if (post.Image == null)
                    {
                        <article class="row post post-format-image post-type">
                            <div class="post-wrapper row">
                                <div class="post-excerpt row">
                                    <h5 class="post-meta">
                                        <a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                        @*<span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>*@
                                    </h5>
                                    <h3 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h3>
                                    <p>@post.Summary</p>
                                    <footer class="row">
                                        <h5 class="taxonomy">
                                            <i>in</i>
                                            @foreach (var tag in post.BlogTags)
                                            {
                                                @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                            }
                                        </h5>
                                        <div class="response-count"><img src="/images/comment-icon-gray.png" alt="">@post.Comments</div>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    
                    }
                    else
                    {
                        <article class="row post post-format-text post-type">
                            <div class="post-wrapper row">
                                <div class="featured-content row">
                                    <a href="@Url.Action("article", "blog", new { id = post.bpId })"><img src="/images/posts/@post.Image" alt="@post.Title" class="img-responsive"></a>
                                </div>
                                <div class="post-excerpt row">
                                    <h5 class="post-meta">
                                        <a href="@Url.Action("date", "blog", new { id = post.CreatedDate.ToString("MM/yy") })" class="date">@post.CreatedDate.ToString("dd MMM yyyy")</a>
                                        @*<span class="post-author"><i>by</i><a href="@Url.Action("about", "home")">Colin Boyle</a></span>*@
                                    </h5>
                                    <h3 class="post-title"><a href="@Url.Action("article", "blog", new { id = post.bpId })">@post.Title</a></h3>
                                    <p>@post.Summary</p>
                                    <footer class="row">
                                        <h5 class="taxonomy">
                                            <i>in</i>
                                            @foreach (var tag in post.BlogTags)
                                            {
                                                @Html.ActionLink((string)@tag.Tag_Name + " ", "tag", "blog", new { tag = tag.Tag_Name }, null)
                                            }
                                        </h5>
                                        <div class="response-count"><img src="/images/comment-icon-gray.png" alt="">@post.Comments</div>
                                    </footer>
                                </div>
                            </div>
                        </article>
                    }
                 }
                @*
        <!--Gallery Post-->
        <article class="row post post-format-gallery post-type">
            <div class="post-wrapper row">
                <div class="featured-content row">
                    <div class="gallery-of-post owl-carousel">
                        <div class="item"><img src="../../Content/Images/posts/2.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="../../Content/Images/posts/6.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="../../Content/Images/posts/2.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="../../Content/Images/posts/6.jpg" alt="" class="img-responsive"></div>
                        <div class="item"><img src="../../Content/Images/posts/2.jpg" alt="" class="img-responsive"></div>
                    </div>
                </div>
                <div class="post-excerpt row">
                    <h5 class="post-meta">
                        <a href="#" class="date">feb 17, 2016</a>
                        <span class="post-author"><i>by</i><a href="#">Mark Sanders</a></span>
                    </h5>
                    <h3 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h3>
                    <p>In the broadest sense, is the natural, physical, or material world or universe. Nature can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science...</p>
                    <footer class="row">
                        <h5 class="taxonomy"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                        <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">5</div>
                    </footer>
                </div>
            </div>
        </article>
        <!--Text Post (no image)-->
        <article class="row post post-format-text post-type">
            <div class="post-wrapper row">
                <div class="post-excerpt row">
                    <h5 class="post-meta">
                        <a href="#" class="date">feb 17, 2016</a>
                        <span class="post-author"><i>by</i><a href="#">Mark Sanders</a></span>
                    </h5>
                    <h3 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h3>
                    <p>In the broadest sense, is the natural, physical, or material world or universe. Nature can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science...</p>
                    <footer class="row">
                        <h5 class="taxonomy"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                        <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">5</div>
                    </footer>
                </div>
            </div>
        </article>
        <!--Video Post (extra play overlay)-->
        <article class="row post post-format-image post-type">
            <div class="post-wrapper row">
                <div class="featured-content row">
                    <a href="single.html">
                        <img src="../../Content/Images/posts/6.jpg" alt="" class="img-responsive">
                        <img src="../../Content/Images/play-btn.png" alt="" class="video-mark">
                    </a>
                </div>
                <div class="post-excerpt row">
                    <h5 class="post-meta">
                        <a href="#" class="date">feb 17, 2016</a>
                        <span class="post-author"><i>by</i><a href="#">Mark Sanders</a></span>
                    </h5>
                    <h3 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h3>
                    <p>In the broadest sense, is the natural, physical, or material world or universe. Nature can refer to the phenomena of the physical world, and also to life in general. The study of nature is a large part of science...</p>
                    <footer class="row">
                        <h5 class="taxonomy"><i>in</i> <a href="#">image</a>, <a href="#">entertainment</a></h5>
                        <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">5</div>
                    </footer>
                </div>
            </div>
        </article>
        <!--Link Post-->
        <article class="row post post-format-link post-type">
            <div class="post-wrapper">
                <div class="post-excerpt">
                    <h5 class="post-meta">
                        <a href="#" class="date">feb 17, 2016</a>
                        <span class="post-author"><i>by</i><a href="#">Mark Sanders</a></span>
                    </h5>
                    <h3 class="post-title"><a href="https://name.com/p5so38a">https://name.com/p5so38a</a></h3>
                    <footer class="row">
                        <h5 class="taxonomy"><i>in</i> <a href="#">video</a>, <a href="#">entertainment</a></h5>
                        <div class="response-count"><img src="../../Content/Images/comment-icon-gray.png" alt="">5</div>
                    </footer>
                </div>
            </div>
        </article>
                *@
                <a href="@Url.Action("all", "blog", 1)" class="pull-right btn btn-primary"><span>Next Page <i class="fa fa-chevron-right"></i></span></a>
            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    @*Html.Partial("AuthorWidgetPartial")*@
                    @Html.Partial("TwitterWidgetPartial")
                    @Html.Partial("InstaWidgetPartial")
                </div>
            </div>
        </div>
    </div>
</section>