﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 82px; margin-bottom: 15px;">
    <h2>Manage your account</h2>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
